@import "../../../styles/variable";

.terms{
    background: $dark-color;
    color: $input;
    .main-head{
        color: $dark-orange;
        // border-bottom: 2px solid $dark-orange;
    }
    .terms-list{
        border: 2px solid $dark-orange;
    }
}
.agrreement{
    height: 100vh;
    width: 100vw;
    position: fixed;
    inset: 0;;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    flex-direction: column;
    background: #b1aaaacd;
    .pop-body{
        border-radius: 8px;
        padding: 20px;
        background: white;
        opacity: 100%;
        position: relative;
        z-index: 300;
        border: 1px solid $border-line;
        .field{
            label{
                margin-left: 15px;
            }
        }
    }
}