@import "../../../styles/variable";

.company {
  padding: 10px;
  border: 1px solid $border-line;

  .create-deal-btn {
    top: 25%;
    left: -50%;
    z-index: 3;
    // width: 300px;
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    background: white !important;
  }



  table tr>th {
    border: none;
    width: 24%;
  }

  table tr td {
    padding: 10px;
    width: 24%;
    background-color: #fff;
    border-bottom: 2px solid $dark-orange;
    border-top: 2px solid $dark-orange;
  }

  table tr>:first-child {
    background-color: #fff;
    border: 2px solid $dark-orange;
    border-radius: 50% 0 0 50%;
    width: 9%;
    border-right: 0;
  }

  table tr>:last-child {
    border-radius: 0 50% 50% 0;
    width: 9%;
    border: 2px solid $dark-orange;
    border-left: 0;
  }

}