.new-company{
    .cover-profile{
        height: 250px;
        background: gray;
        border-radius: 10px;
        position: relative;
        input[type='file']{
            position: absolute;
            opacity: -1;
        }
        .profile{
            height: 120px;
            aspect-ratio: 1/1;
            background: white;
            border-radius: 50%;
            margin: 15px;
            position: relative;
        }
        label{
            cursor: pointer !important;
            position: absolute;
            &.cover-label{
                right: 10px;
                top: 10px;
            }
          &.pro-label{ 
            right: 0;
            bottom: 0;
          }
        }
    }
    .details{
        height: 150px;
        overflow-y: scroll;
        scrollbar-width: none;
    }
}