@import "../../../styles/variable";

.admin-dashboard{
    padding: 10px;
    border: 1px solid $border-line;

    button{
        height: 50px;
        aspect-ratio: 1/1;
    }
    
table {
    width: 100% !important;
    border-collapse: separate;
    border-spacing: 0 10px;
    background: white !important;
  }
  
 

table tr>th{
    border: none;
}
table tr td{
      padding: 10px  0;
    background-color: #fff;
    border-bottom: 2px solid $dark-orange;
    border-top: 2px solid $dark-orange;
  }
  
  table tr>:first-child {
    background-color: #fff; 
    width: 8%;
    border: 2px solid $dark-orange; 
    border-radius:50% 0 0 50%;
    border-right: 0;
  }
  
  table tr>:last-child{
    width: 8%;
    border-radius:0 50% 50% 0;
    border: 2px solid $dark-orange;
    border-left: 0;
  }
 
}
