$dark-orange:#d04e1bfc;
$light-orange:#f45213fc;
$very-light-red:#d93f3f37;
$dark-color:#0a0c10;
$white-color:#ffffff;
$very-light-color:#f0efef;
$input:#d5cfcf;
$light-color:#757679;
$color-gray:#606060;
$border-line:#2d2828;
$green:#06f388;
$yellowpink:#ffcb82;
$robot: "Roboto", sans-serif;
$popin:"Poppins", sans-serif;
$heading:graphit;
$para:melody;


@font-face {
    font-family: graphit;
    src: url(../../asset/graphit-regular.woff);
}
@font-face {
    font-family: melody;
    src: url(../../asset/BLMelody-Light.woff2);
}